spring:
  application:
    name: petSystem
  profiles:
    active: dev
  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: none
    show-sql: true
  sql:
    init:
      mode: never
